/* Mis estilos */
*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --color-primary: #1da1f2;
  --color-secundary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

/* estructura */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fff;
  background-color: var(--color-primary);
  padding: 1em;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
}

.nav img {
  width: 35px;
  margin-right: 1em;
}

.branch {
  display: flex;
  width: 50%;
  align-items: center;
}

.nav__p {
  font-size: 18px;
  font-weight: 700;
}

/* Utilidades */
.primary {
  color: #fff;
  background-color: #007bff;
}

.secundary {
  color: #fff;
  background-color: #6c757d;
}

.success {
  color: #fff;
  background-color: #28a745;
}

.danger {
  color: #fff;
  background-color: #dc3545;
}

.warning {
  color: #fff;
  background-color: #ffc107;
}

.info {
  color: #fff;
  background-color: #17a2b8;
}

.light {
  color: #000;
  background-color: #f8f9fa;
}

.dark {
  color: #fff;
  background-color: #343a40;
}

.text-center {
  text-align: center;
}

/* form login */
.form {
  max-width: 100%;
}

.form__input {
  display: inline-block;
  width: 100%;
  padding: 1em;
}

.form__input[type='text'],
.form__input[type='password'] {
  border-radius: 5px;
  margin-bottom: 1em;
}

.form__input--primary {
  color: #fff;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 9999px;
}

.form__link {
  text-decoration: none;
  color: #1b95e0;
}

.form__message {
  color: #fff;
  padding: 0.4em;
  background-color: var(--color-danger);
}

/* debug */
.debug-1 {
  outline: 1px solid var(--color-danger);
}

.debug-2 {
  outline: 1px solid var(--color-warning);
}
